*{
  margin: 0;
  padding: 0;
text-align: center;
box-sizing: border-box;
}
body{
  background-color: rgb(171, 251, 251);
}
.heading{
  height: 10vh;
  line-height: 10vh;
  width: 20vw;
 margin-left: 42vw;
 margin-top: 20px;
 border-radius: 9px;
  background-color: black;
  color: white;
min-width: 10rem;
}
.calbody{
  margin-top: 4rem;
  background-color:rgb(1, 1, 1);
  width: 25vw;
  min-width: 17rem;
  height: 78vh;
  margin-left: 40vw;
  border-radius: 15px;
}
.inputnum{
height: 15%;
width: 90%;
margin:1rem 0;
border-radius: 6px;
font-size: 2rem;
}
.btn-container{
  background-color:#000000;
  height:60vh ;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;

}
.btn{
  height: 80px;
  width:80px ;
  min-width: 3.5rem;
  border-radius: 50%;
  font-size: 2rem;
  background-color: #504e4e;
  color: white;
}
 .btn:hover{
  background-color: #b3b3b3;
} 
.add,.sub,.div,.mul{
  background-color: chocolate;
}
@media(max-width:1280px){
  .btn{
    height: 65px;
    width:65px ;
    border-radius: 50%;
    font-size: 1.5rem;
  }
}

@media(max-width:580px){
.calbody{
  margin-left: 130px;
}
.heading{
  margin-left: 170px;
}
}